<form class="js-validation" action="/characteristic/{{ characteristic.id }}/generate" method="post">
    <div class="row">
        <div class="col-12">
            <div class="block block-rounded block-bordered block-themed">
                <div class="block-header block-header-default bg-secondary">
                    <h3 class="block-title">Особенности характера</h3>
                </div>
                <div class="block-content pb-4">
                    <div class="row">
                        <div class="mb-4 col-12 col-md-4 col-lg-3">
                            <label class="form-label " for="char_0_1"><b>По характеру</b> <br><small class="text-muted">Аккуратный/Неряшливый</small></label>
                            <select class="form-select" id="char_0_1" name="char_0_1">
                                <option value='0' selected>Выберите из списка</option>
                                <option value="1">Аккуратный</option>
                                <option value="2">Неряшливый</option>
                            </select>
                        </div>

                        <div class="mb-4 col-12 col-md-4 col-lg-3">
                            <label class="form-label" for="char_0_2"><b>По характеру</b> <br><small class="text-muted">Вежливый/Грубый</small></label>
                            <select class="form-select" id="char_0_2" name="char_0_2">
                                <option value='0' selected>Выберите из списка</option>
                                <option value="1">Вежливый</option>
                                <option value="2">Грубый</option>
                            </select>
                        </div>

                        <div class="mb-4 col-12 col-md-4 col-lg-3">
                            <label class="form-label" for="char_0_3"><b>По характеру</b> <br><small class="text-muted">Дисциплинированный/Шаловливый</small></label>
                            <select class="form-select" id="char_0_3" name="char_0_3">
                                <option value='0' selected>Выберите из списка</option>
                                <option value="1">Дисциплинированный</option>
                                <option value="2">Шаловливый</option>
                            </select>
                        </div>

                        <div class="mb-4 col-12 col-md-4 col-lg-3">
                            <label class="form-label" for="char_0_4"><b>По характеру</b> <br><small class="text-muted">Доброжелательный/Высокомерный</small></label>
                            <select class="form-select" id="char_0_4" name="char_0_4">
                                <option value='0' selected>Выберите из списка</option>
                                <option value="1">Доброжелательный</option>
                                <option value="2">Высокомерный</option>
                            </select>
                        </div>

                        <div class="mb-4 col-12 col-md-4 col-lg-3">
                            <label class="form-label" for="char_0_5"><b>По характеру</b> <br><small class="text-muted">Добрый/Злой</small></label>
                            <select class="form-select" id="char_0_5" name="char_0_5">
                                <option value='0' selected>Выберите из списка</option>
                                <option value="1">Добрый</option>
                                <option value="2">Злой</option>
                            </select>
                        </div>

                        <div class="mb-4 col-12 col-md-4 col-lg-3">
                            <label class="form-label" for="char_0_6"><b>По характеру</b> <br><small class="text-muted">Доверчивый/Подозрительный</small></label>
                            <select class="form-select" id="char_0_6" name="char_0_6">
                                <option value='0' selected>Выберите из списка</option>
                                <option value="1">Доверчивый</option>
                                <option value="2">Подозрительный</option>
                            </select>
                        </div>

                        <div class="mb-4 col-12 col-md-4 col-lg-3">
                            <label class="form-label" for="char_0_7"><b>По характеру</b> <br><small class="text-muted">Жизнерадостный/Плаксивый</small></label>
                            <select class="form-select" id="char_0_7" name="char_0_7">
                                <option value='0' selected>Выберите из списка</option>
                                <option value="1">Жизнерадостный</option>
                                <option value="2">Плаксивый</option>
                            </select>
                        </div>

                        <div class="mb-4 col-12 col-md-4 col-lg-3">
                            <label class="form-label" for="char_0_8"><b>По характеру</b> <br><small class="text-muted">Общительный/Замкнутый</small></label>
                            <select class="form-select" id="char_0_8" name="char_0_8">
                                <option value='0' selected>Выберите из списка</option>
                                <option value="1">Общительный</option>
                                <option value="2">Замкнутый</option>
                            </select>
                        </div>

                        <div class="mb-4 col-12 col-md-4 col-lg-3">
                            <label class="form-label" for="char_0_9"><b>По характеру</b> <br><small class="text-muted">Отзывчивый/Чёрствый</small></label>
                            <select class="form-select" id="char_0_9" name="char_0_9">
                                <option value='0' selected>Выберите из списка</option>
                                <option value="1">Отзывчивый</option>
                                <option value="2">Чёрствый</option>
                            </select>
                        </div>

                        <div class="mb-4 col-12 col-md-4 col-lg-3">
                            <label class="form-label" for="char_0_10"><b>По характеру</b> <br><small class="text-muted">Послушный/Упрямый</small></label>
                            <select class="form-select" id="char_0_10" name="char_0_10">
                                <option value='0' selected>Выберите из списка</option>
                                <option value="1">Послушный</option>
                                <option value="2">Упрямый</option>
                            </select>
                        </div>

                        <div class="mb-4 col-12 col-md-4 col-lg-3">
                            <label class="form-label" for="char_0_11"><b>По характеру</b> <br><small class="text-muted">Скромный/Хвастливый</small></label>
                            <select class="form-select" id="char_0_11" name="char_0_11">
                                <option value='0' selected>Выберите из списка</option>
                                <option value="1">Скромный</option>
                                <option value="2">Хвастливый</option>
                            </select>
                        </div>

                        <div class="mb-4 col-12 col-md-4 col-lg-3">
                            <label class="form-label" for="char_0_12"><b>По характеру</b> <br><small class="text-muted">Трудолюбивый/Ленивый</small></label>
                            <select class="form-select" id="char_0_12" name="char_0_12">
                                <option value='0' selected>Выберите из списка</option>
                                <option value="1">Трудолюбивый</option>
                                <option value="2">Ленивый</option>
                            </select>
                        </div>

                        <div class="mb-4 col-12 col-md-4 col-lg-3">
                            <label class="form-label" for="char_0_13"><b>По характеру</b> <br><small class="text-muted">Целеустремлённый/Легкомысленный</small></label>
                            <select class="form-select" id="char_0_13" name="char_0_13">
                                <option value='0' selected>Выберите из списка</option>
                                <option value="1">Целеустремлённый</option>
                                <option value="2">Легкомысленный</option>
                            </select>
                        </div>

                        <div class="mb-4 col-12 col-md-4 col-lg-3">
                            <label class="form-label" for="char_0_14"><b>По характеру</b> <br><small class="text-muted">Честный/Лживый</small></label>
                            <select class="form-select" id="char_0_14" name="char_0_14">
                                <option value='0' selected>Выберите из списка</option>
                                <option value="1">Честный</option>
                                <option value="2">Лживый</option>
                            </select>
                        </div>

                        <div class="mb-4 col-12 col-md-4 col-lg-3">
                            <label class="form-label" for="char_0_15"><b>По характеру</b> <br><small class="text-muted">Щедрый/Жадный</small></label>
                            <select class="form-select" id="char_0_15" name="char_0_15">
                                <option value='0' selected>Выберите из списка</option>
                                <option value="1">Щедрый</option>
                                <option value="2">Жадный</option>
                            </select>
                        </div>

                        <div class="mb-4 col-12 col-md-4 col-lg-3">
                            <label class="form-label" for="char_0_16"><b>По характеру</b> <br><small class="text-muted">Настойчивый/Беспечный</small></label>
                            <select class="form-select" id="char_0_16" name="char_0_16">
                                <option value='0' selected>Выберите из списка</option>
                                <option value="1">Настойчивый</option>
                                <option value="2">Беспечный</option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="block block-rounded block-bordered block-themed">
                <div class="block-header block-header-default bg-secondary">
                    <h3 class="block-title">Учебная деятельность</h3>
                </div>
                <div class="block-content pb-4">
                    <div class="row">
                        <div class="mb-4 col-12 col-md-4">
                            <label class="form-label" for="char_1_1">Способности к обучению</label>
                            <select class="form-select" id="char_1_1" name="char_1_1">
                                <option value='0' selected>Выберите из списка</option>
                                <option value="1">Средние</option>
                                <option value="2">Сильные</option>
                                <option value="3">Слабые</option>
                            </select>
                        </div>

                        <div class="mb-4 col-12 col-md-4">
                            <label class="form-label" for="char_1_2">Мотивация к обучению</label>
                            <select class="form-select" id="char_1_2" name="char_1_2">
                                <option value='0' selected>Выберите из списка</option>
                                <option value="1">Средняя</option>
                                <option value="2">Сильная</option>
                                <option value="3">Слабая</option>
                            </select>
                        </div>

                        <div class="mb-4 col-12 col-md-4">
                            <label class="form-label" for="char_1_3">Успеваемость</label>
                            <select class="form-select" id="char_1_3" name="char_1_3">
                                <option value='0' selected>Выберите из списка</option>
                                <option value="1">Основная оценка "2"</option>
                                <option value="2">Основная оценка "3"</option>
                                <option value="3">Основная оценка "4"</option>
                                <option value="4">Основная оценка "5"</option>
                                <option value="5">Основные оценки "2-3"</option>
                                <option value="6">Основные оценки "3-4"</option>
                                <option value="7">Основные оценки "4-5"</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="block block-rounded block-bordered block-themed">
                <div class="block-header block-header-default bg-secondary">
                    <h3 class="block-title">Интересы и увлечения</h3>
                </div>
                <div class="block-content pb-4">
                    <div class="row">
                        <div class="mb-4 col-12 col-md-6">
                            <label class="form-label" for="char_2_1">Увлекается</label>
                            <textarea class="form-control form-control-alt" id="char_2_1" name="char_2_1"
                                      rows="7" placeholder="Textarea content.."></textarea>
                        </div>

                        <div class="mb-4 col-12 col-md-6">
                            <label class="form-label" for="char_2_2">Посещает кружок</label>
                            <textarea class="form-control form-control-alt" id="char_2_2" name="char_2_2"
                                      rows="7" placeholder="Textarea content.."></textarea>
                        </div>

                        <div class="mb-4 col-12 col-md-6">
                            <label class="form-label" for="char_2_3">Посещает секцию</label>
                            <textarea class="form-control form-control-alt" id="char_2_3" name="char_2_3"
                                      rows="7" placeholder="Textarea content.."></textarea>
                        </div>

                        <div class="mb-4 col-12 col-md-6">
                            <label class="form-label" for="char_2_4">Поле доп информации.</label>
                            <textarea class="form-control form-control-alt" id="char_2_4" name="char_2_4"
                                      rows="7" placeholder="Textarea content.."></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-4">
                    <div class="block block-rounded block-bordered block-themed">
                        <div class="block-header block-header-default bg-secondary">
                            <h3 class="block-title">Общая направленность и активность</h3>
                        </div>
                        <div class="block-content pb-4">
                            <div class="mb-4 col-12 ">
                                <label class="form-label" for="char_3_1">Участие в общественной жизни</label>
                                <select class="form-select" id="char_3_1" name="char_3_1">
                                    <option value='0' selected>Выберите из списка</option>
                                    <option value="1">Активно участвует</option>
                                    <option value="2">Участвует</option>
                                    <option value="3">Участвует редко</option>
                                    <option value="4">Отказывается участвовать</option>
                                </select>
                            </div>

                            <div class="mb-4 col-12">
                                <label class="form-label" for="char_3_2">За работу берётся</label>
                                <select class="form-select" id="char_3_2" name="char_3_2">
                                    <option value='0' selected>Выберите из списка</option>
                                    <option value="1">Берётся охотно</option>
                                    <option value="2">Как правило берётся охотно</option>
                                    <option value="3">Редко охотно берётся</option>
                                    <option value="4">Старается уклониться</option>
                                    <option value="5">Всегда уклоняется</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="block block-rounded block-bordered block-themed">
                        <div class="block-header block-header-default bg-secondary">
                            <h3 class="block-title">Взаимоотношения с учителями</h3>
                        </div>
                        <div class="block-content pb-4">
                            <div class="mb-4 col-12">
                                <label class="form-label" for="char_5_1">Отношение к учителям</label>
                                <select class="form-select" id="char_5_1" name="char_5_1">
                                    <option value='0' selected>Выберите из списка</option>
                                    <option value="1">Вежлив</option>
                                    <option value="2">Бывает груб</option>
                                    <option value="3">Постоянно грубит</option>
                                </select>
                            </div>

                            <div class="mb-4 col-12">
                                <label class="form-label" for="char_5_2">Реакция на замечания учителей</label>
                                <select class="form-select" id="char_5_2" name="char_5_2">
                                    <option value='0' selected>Выберите из списка</option>
                                    <option value="1">Спокойная</option>
                                    <option value="2">Заинтересованная</option>
                                    <option value="3">Пассивная</option>
                                    <option value="4">Агрессивная</option>
                                    <option value="5">Непредсказуемая</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="block block-rounded block-bordered block-themed">
                        <div class="block-header block-header-default bg-secondary">
                            <h3 class="block-title">Взаимоотношения в коллективе</h3>
                        </div>
                        <div class="block-content pb-4">
                            <div class="mb-4 col-12 ">
                                <label class="form-label" for="char_4_1">Какое положение занимает учащийся в
                                    группе</label>
                                <select class="form-select" id="char_4_1" name="char_4_1">
                                    <option value='0' selected>Выберите из списка</option>
                                    <option value="1">Лидер</option>
                                    <option value="2">Популярный</option>
                                    <option value="3">Приятный</option>
                                    <option value="4">Непопулярный</option>
                                    <option value="5">Изолированный</option>
                                    <option value="6">Отверженный</option>
                                </select>
                            </div>

                            <div class="mb-4 col-12">
                                <label class="form-label" for="char_4_2">Стиль отношений со ссверстниками</label>
                                <select class="form-select" id="char_4_2" name="char_4_2">
                                    <option value='0' selected>Выберите из списка</option>
                                    <option value="1">Спокойно-доброжелательный</option>
                                    <option value="2">Агрессивный</option>
                                    <option value="3">Неустойчивый</option>
                                    <option value="4">Обособленный</option>
                                </select>
                            </div>

                            <div class="mb-4 col-12">
                                <label class="form-label" for="char_4_3">Отношение к критическим замечаниям
                                    коллектива</label>
                                <select class="form-select" id="char_4_3" name="char_4_3">
                                    <option value='0' selected>Выберите из списка</option>
                                    <option value="1">Благожелательно</option>
                                    <option value="2">Серьёзно</option>
                                    <option value="3">Болезненно</option>
                                    <option value="4">Равнодушно</option>
                                    <option value="5">Враждебно</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="block block-rounded block-bordered block-themed">

                        <div class="block-header block-header-default bg-secondary">
                            <h3 class="block-title">Семья. Семейная атмосфера и воспитание</h3>
                        </div>
                        <div class="block-content pb-4">
                            <div class="mb-4 col-12">
                                <label class="form-label" for="char_6_1">Статус семьи</label>
                                <select class="form-select" id="char_6_1" name="char_6_1">
                                    <option value='0' selected>Выберите из списка</option>
                                    <option value="1">Полная</option>
                                    <option value="2">Неполная (с матерью)</option>
                                    <option value="3">Неполная (с отцом)</option>
                                    <option value="4">С опекуном</option>
                                </select>
                            </div>

                            <div class="mb-4 col-12">
                                <label class="form-label" for="char_6_2">Семья</label>
                                <select class="form-select" id="char_6_2" name="char_6_2">
                                    <option value='0' selected>Выберите из списка</option>
                                    <option value="1">С одним или двумя детьми</option>
                                    <option value="2">Многодетная</option>
                                </select>
                            </div>

                            <div class="mb-4 col-12">
                                <label class="form-label" for="char_6_3">Психологический климат в семье</label>
                                <select class="form-select" id="char_6_3" name="char_6_3">
                                    <option value='0' selected>Выберите из списка</option>
                                    <option value="1">Положительный</option>
                                    <option value="2">Неустойчивый</option>
                                    <option value="3">Отрицательный</option>
                                </select>
                            </div>

                            <div class="mb-4 col-12">
                                <label class="form-label" for="char_6_4">Воспитание в семье</label>
                                <select class="form-select" id="char_6_4" name="char_6_4">
                                    <option value='0' selected>Выберите из списка</option>
                                    <option value="1">Демократическое</option>
                                    <option value="2">Авторитарное</option>
                                    <option value="3">Попустительское</option>
                                    <option value="4">Гиперопека</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    <div class="block block-rounded block-bordered block-themed">

                        <div class="block-header block-header-default bg-secondary">
                            <h3 class="block-title">Связь семьи и школы</h3>
                        </div>
                        <div class="block-content pb-4">
                            <div class="mb-4 col-12">
                                <label class="form-label" for="char_7_1">Как поддерживается связь с классным
                                    руководителем</label>
                                <select class="form-select" id="char_7_1" name="char_7_1">
                                    <option value='0' selected>Выберите из списка</option>
                                    <option value="1">По телефону</option>
                                    <option value="2">Через интернет</option>
                                    <option value="3">Лично</option>
                                    <option value="4">Связь не поддерживается</option>
                                </select>
                            </div>

                            <div class="mb-4 col-12">
                                <label class="form-label" for="char_7_2">Как часто посещаются родительские
                                    собрания</label>
                                <select class="form-select" id="char_7_2" name="char_7_2">
                                    <option value='0' selected>Выберите из списка</option>
                                    <option value="1">Всегда</option>
                                    <option value="2">Почти всегда</option>
                                    <option value="3">Редко</option>
                                    <option value="4">Никогда</option>
                                </select>
                            </div>

                            <div class="mb-4 col-12">
                                <label class="form-label" for="char_7_3">К рекомендациям педагогов</label>
                                <select class="form-select" id="char_7_3" name="char_7_3">
                                    <option value='0' selected>Выберите из списка</option>
                                    <option value="1">Стараются прислушиваться</option>
                                    <option value="2">Не прислушиваются</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Сгенерировать характеристику</button>
    </div>
</form>
