<div id="main-navigation" class="d-none d-lg-block mt-2 mt-lg-0">
    <ul class="nav-main nav-main-dark nav-main-horizontal nav-main-hover">
        <li class="nav-main-item">
            <a class="nav-main-link" href="{{  path('app_student_dashboard')}}">
                <i class="nav-main-link-icon si si-compass"></i>
                <span class="nav-main-link-name">Главное</span>
            </a>
        </li>
        <li class="nav-main-item">
            <a class="nav-main-link" href="{{path('app_dashboard_index')  }}">
                <i class="nav-main-link-icon si si-action-undo"></i>
                <span class="nav-main-link-name">Вернуться в АИС</span>
            </a>
        </li>

        <li class="nav-main-item ms-lg-auto">
            <a class="nav-main-link" href="{{ path('app_dashboard_index') }}">
                <i class="nav-main-link-icon si si-action-undo"></i>
                <span class="nav-main-link-name">Вернуться в АИС</span>
            </a>
        </li>
    </ul>
</div>