{% extends 'base.html.twig' %}
{% set refer = 1 %}
{% set canreset = 0 %}
{% set page_title =  'Настройки пользователя'  %}
{% set sub_page_title = 'Редактировать данные пользователя' %}

{% block title %}
    {% if page_title is defined %} {{ page_title }} {% endif %}
{% endblock %}



{% block body %}

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_index') }}">back to list</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
