<form method="post" action="{{ path('app_admission_examination_subjects_delete', {'id': admission_examination_subject.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ admission_examination_subject.id) }}">
    <button class="btn">Delete</button>
</form>
