<div class="col-12">
    <div class="btn-group  mx-auto">
        <a type="button" class="btn btn-sm btn-secondary"
           href="{{ path('app_abiturient_petition_edit', {'id': abiturient_petition.id}) }}"><i class="fa fa-regular pull-right fa-pencil me-1"></i>Изменить</a>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                id="dropdown-split-primary" data-bs-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            <span class="visually-hidden">Дополнительные действия</span>
        </button>
        <div class="dropdown-menu fs-sm" aria-labelledby="dropdown-split-primary">
            <a class="dropdown-item" target="_blank"
               href="{{ 'http://prof.mo.mosreg.ru/#spo/petition/'~abiturient_petition.GUID }}"><i class="fa-regular fa-arrow-up-right-from-square "></i> Открыть
                в ВИС</a>
            <a class="dropdown-item" href="{{ path('app_abiturient_petition_updateFromVIS',{'GUID':abiturient_petition.GUID}) }}"><i class="fas fa-regular fa-download"></i> Обновить из ВИС</a>
            <a class="dropdown-item disabled" disabled="disabled" href="javascript:void(0)">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item disabled"   disabled="disabled" href="javascript:void(0)">Separated link</a>
        </div>
    </div>
</div>