{% extends 'base.html.twig' %}

{% block title %}New EventsPlaces{% endblock %}

{% block body %}
    <h1>Create new EventsPlaces</h1>

    {{ include('events_places/_form.html.twig') }}

    <a href="{{ path('app_events_places_index') }}">back to list</a>
{% endblock %}
