{% extends 'base.html.twig' %}

{% block title %}Edit EventsResult{% endblock %}

{% block body %}
    <h1>Edit EventsResult</h1>

    {{ include('events_result/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_events_result_index') }}">back to list</a>

    {{ include('events_result/_delete_form.html.twig') }}
{% endblock %}
