{% extends 'base.html.twig' %}

{% block title %}New EventsResult{% endblock %}

{% block body %}
    <h1>Create new EventsResult</h1>

    {{ include('events_result/_form.html.twig') }}

    <a href="{{ path('app_events_result_index') }}">back to list</a>
{% endblock %}
