{% extends 'base.html.twig' %}

{% block title %}EventsResult{% endblock %}

{% block body %}
    <h1>EventsResult</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ events_result.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_events_result_index') }}">back to list</a>

    <a href="{{ path('app_events_result_edit', {'id': events_result.id}) }}">edit</a>

    {{ include('events_result/_delete_form.html.twig') }}
{% endblock %}
