{% extends 'base.html.twig' %}

{% block title %}Edit ContingentDocumentType{% endblock %}

{% block body %}
    <h1>Edit ContingentDocumentType</h1>

    {{ include('contingent_document_type/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_contingent_document_type_index') }}">back to list</a>

    {{ include('contingent_document_type/_delete_form.html.twig') }}
{% endblock %}
