<form method="post" action="{{ path('app_events_result_types_delete', {'id': events_result_type.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ events_result_type.id) }}">
    <button class="btn">Delete</button>
</form>
