{% extends 'base.html.twig' %}

{% block title %}Edit FamilyTypeList{% endblock %}

{% block body %}
    <h1>Edit FamilyTypeList</h1>

    {{ include('family_type_list/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_family_type_list_index') }}">back to list</a>

    {{ include('family_type_list/_delete_form.html.twig') }}
{% endblock %}
