{% extends 'base.html.twig' %}

{% block title %}New FamilyTypeList{% endblock %}

{% block body %}
    <h1>Create new FamilyTypeList</h1>

    {{ include('family_type_list/_form.html.twig') }}

    <a href="{{ path('app_family_type_list_index') }}">back to list</a>
{% endblock %}
